<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/sweetalert2/dist/sweetalert2.css" type="text/css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <partial name="_Message.cshtml" />
        @RenderBody()
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>
